body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #455251;
}


.container{
    background-color: #9ab8b5;
    margin: 0 auto;
    max-width: 1200px;
}
img{
    width: 100%;
    float: left;
    margin-left: 1em;
}
img[src$=".jpg"]{
    border: 2px solid #9ab8b5;
    height: 25em;
    width: 25em;
    margin-right: 1%;
    box-sizing: border-box;
}
p{
    text-align: justify;
    margin-right: 1em;
    font-size: 1.1em;
    margin-top: 3%;
}
h2{
    font-size: 35px;
    font-weight: bold;
    margin-left: 1.5%;
    color: #3c4645;
}
h3{
    font-size: 25px;
    font-weight: bold;
    margin-left: 1.5%;
    color: #3c4645;
}


.site-title{
    position: relative;

    background: tan url(../images/lone-starfish-wide.jpg) no-repeat center center;
    background-size: cover;
    margin-top: -1em;
    font-size: 3rem;
    padding: 3em 3em 3em 4em;
    padding-bottom: 3%;
    color: #455251;
    z-index: 2;
}

nav ul{
    list-style: none;
    background-color: #455251;
    padding: 2em;
    display: block;
    margin-top: -2em; 
    
}
nav ul li {
    display: inline;
    width: 60%;
    padding-left: 10em;
    box-sizing: border-box;
    

}
.navi{
    border-right: 1em solid #9ab8b5;
    padding-top: 4em;
    padding-bottom: 3em;
    padding-right: 4em;
    text-decoration: none;
    color: #9ab8b5;
    font-weight: bold;
    font-size: 1.5rem; 
}
.navi2{
    border-right: 1em solid #9ab8b5;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 4em;
    text-decoration: none;
    color: #9ab8b5;
    font-weight: bold;
    font-size: 1.5rem; 
}
.navi3{
    padding-top: 3em;
    padding-bottom: 3em;
    text-decoration: none;
    color: #9ab8b5;
    font-weight: bold;
    font-size: 1.5rem; 
}


section ul{
    list-style: square;
    margin-right: 1em;
    font-size: 1.1em;
}
#contact{
    border: .2em solid #3c4645;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    box-sizing: border-box;
    padding: 1em;
}

#fullname, #youremail, #message{
	width: 98%;
	box-sizing: border-box;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
}
#formheader{
    font-size: 19px;
    font-weight:bold;
}
#yes, #no, #maybe {

	margin-bottom: 1%;
	margin-left: 1%;
}
.button{
    border:.1em solid #9ab8b5;
    margin: 2%;
	background-color: #455251;
	width: 10%;
}
.button:active{
	background-color: #455251;
	border-color: #455251;
}
.site-footer{
	text-align: right;
    padding-bottom: 1%;
	margin-right: 2%;
}