body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #455251;
    margin-top: 0px;
}

/* Selecting elements with class name */
.container {
    background-color: #9ab8b5;
    margin: 0 auto;
    max-width: 1500px;
}

.titlebox {
    border: #9ab8b5;
    position: relative;
    width: 100%;
    height: 20em;  
}

h1{
    width: 50%;
    position: absolute;
    padding-left: 5em;
    top: 50%; 
    bottom: 30%; 
    color: #455251;
    text-align: center;
    z-index: 2;
    font-size: 50px;
}

img[src$="lone-starfish-wide.jpg"] {
    
    height: 20em;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    float: left;
    margin-left: 1em;
}

nav ul{
    list-style: none;
    background-color: #455251;
    height: 10em;
    display: block;
    margin-top: -2em
}

nav ul li {
    display: inline;
    width: 50%;
    padding-left: 14em;
    box-sizing: border-box;
}

.navi{
    /* using single side border for the first 2 navigations */
    border-right: 1em solid #9ab8b5;
	float: left;
	width: 30%;
	height: 5em;
	padding-top: 3.2rem;
	text-align: center;
	font-weight: bold;
    font-size: 1.6rem;
	color: #9ab8b5;
	text-decoration: none;
	box-sizing: border-box;
}

.navi1{
    border-right: 1em solid #9ab8b5;
	float: left;
	width: 39%;
    height: 5em;
	padding-top: 2em;
	text-align: center;
	font-weight: bold;
    font-size: 1.6rem;
	color: #9ab8b5;
	text-decoration: none;
	box-sizing: border-box;
}
.navi2{
    float: left;
	width: 30%;
    height: 5em;
	padding-top: 1.2em;
	text-align: center;
	font-weight: bold;
    font-size: 1.6rem;
	color: #9ab8b5;
	text-decoration: none;
	box-sizing: border-box;
}

img[src$="lone-starfish.jpg"] {
    
    height: 25em;
    width: 25em;
    margin-right: 1%;
    box-sizing: border-box;
}

p {
    text-align: justify;
    margin-right: 1em;
    font-size: 1.3em;
    margin-top: 2.5%;
    margin-left: 1em;
    color: #3c4645;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 1.5%;
    color: #3c4645;
}
section ul li {
    color: #3c4645;
}
h3{
    padding-top: .1em;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1.5%;
    color: #3c4645;
}


section ul {
    list-style: square;
    margin-right: 1em;
    font-size: 1.1em;
}

/* Selecting element with id selector */
#contact {
    border: .2em solid #3c4645;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    box-sizing: border-box;
    padding: 1em;
}

/* selecting multiple id */
#fullname,
#youremail,
#message {
    width: 98%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

#formheader {
    font-size: 19px;
    font-weight: bold;
}

#yes,
#no,
#maybe {

    margin-bottom: 1%;
    margin-left: 1%;
}

.button {
    margin: 2%;
    background-color: #748a88;
    width: 10%;
}

.button:active {
    background-color: #455251;
    border-color: #455251;
}

.site-footer {
    text-align: right;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-right: 2%;
}